.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 4.5rem;
}

.behindDeco {
  background-color: white;
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url("../../public/bg-1.png");
  background-size: cover; /* Make image cover the whole area */
  background-repeat: no-repeat; /* Prevent repeats */
  background-position: center; /* Center the image */
}

.formBox,
.infoBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.formBox {
  align-items: end;
}

.infoBox {
  align-items: start;
}

.formBox > .wrapper {
  width: 20rem;
}

.infoBox > .wrapper {
  width: 20rem;
}

.formBoxHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBoxHeader > h5 {
  margin: 0;
  padding: 0;
}

.formBoxBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  width: 100%;
}

.form {
  display: flex;
  column-gap: 5;
  border: 1px solid lightgray;
  align-items: center;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form > input {
  border: none;
}

.form > input:focus {
  outline: none;
}

.forgotSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signInWrapper {
  width: 100%;
  text-align: center;
}

.signInWrapper > button {
  padding: 0.4rem 3.5rem;
  border-radius: 5px;
  background-color: #06a3da;
  border: none;
  color: white;
}

.infoBoxHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBoxHeader > h5 {
  margin: 0;
}

.infoBoxHeader > p {
  text-align: center;
}
