.container {
  height: 100vh;
  width: 100%;
}

.container > .navBar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 6rem;
  height: 100px;
}

.container > .navBar > .navBrand {
  width: 18rem;
  height: 4rem;
}

.container > .navBar > .nav {
  display: flex;
  column-gap: 2rem;
}

.container > .navBar > .nav > .navItem {
  color: black;
}

.container > .navBar > .navBrand > .logo {
  width: 100%;
  height: 100%;
}

.creds {
  display: flex;
  column-gap: 0.6rem;
}

.heroSection {
  display: flex;
  padding: 6rem;
  width: 100%;
}

.heroSection > .left {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
}

.heroSection > .left > .heroTitle {
  font-size: 50.5px;
}

.heroSection > .left > .heroText {
  width: 27rem;
}

.heroSection > .right {
  flex: 1;
  display: flex;
  justify-content: start;
  padding: 5rem 0rem;
}

.getStarted {
  border: 1px solid #1c4cb3;
  border-radius: 0.5rem;
}

.getStarted > input {
  padding: 0 1rem;
  border: none;
}

.getStarted > input:focus {
  outline: none;
}

.otherClientsWrapper {
  display: flex;
  column-gap: 1rem;
  margin-top: 1.5rem;
}

.otherClients {
  font-weight: bolder;
}

.btnPrimary {
  border: 1px solid #1c4cb3;
  background-color: #2563eb;
  color: white;
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
}

.btnPlain {
  border: 1px solid #1c4cb3;
  background-color: white;
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
}

.creditCardForm {
  width: 18rem;
  height: 18rem;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  border-radius: 0.8rem;
  margin-left: 5rem;
}

.creditCard {
  width: 12rem;
  height: 14rem;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  left: 60%;
  top: -60px;
  background-color: white;
  border-radius: 0.8rem;
}
