.container {
  height: 100vh;
  width: 100%;
}

.container > .navBar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 6rem;
  height: 100px;
}

.container > .navBar > .navBrand {
  width: 18rem;
  height: 4rem;
}

.container > .navBar > .nav {
  display: flex;
  column-gap: 2rem;
}

.container > .navBar > .navBrand > .logo {
  width: 100%;
  height: 100%;
}

.creds {
  display: flex;
  column-gap: 0.6rem;
}

.btnPrimary {
  border: 1px solid #1c4cb3;
  background-color: #2563eb;
  color: white;
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
}

.btnPlain {
  border: 1px solid #1c4cb3;
  background-color: white;
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
}
